<!--OJO: Si es que utilizo "form" para contener a todos los mat-form-fields debo utilizar la sintaxis
    de [formGroup] como manda Angular forms" -->
<div class="container-fluid mt-3">
    <form [formGroup]="formPrincipal" (ngSubmit)="enviar(formPrincipal.value)">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder" formControlName="name" type="text">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input matInput placeholder="Placeholder" formControlName="age" type="number">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" formControlName="email" type="text">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Placeholder" formControlName="company" type="text">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" type="submit">Enviar</button>

    </form>
</div>